
.main {
  background: #2299924A;
  padding: 50px !important;
}
.backArrow {
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin-right: -40px !important;
}
.hr {
  color: #0107A5 !important;
}
.btnGrid {
  display: inline-flex;
  padding-left: 90px;
}
.checkbox {
  padding-right: 10px;
  // background: #fff !important;
  color: #fff !important;
}
.txtTC {
  padding: 10px;
  margin-bottom: 0px !important;
}
.btnStart {
  // margin-left: 50px;
  width: 211px;
  height: 54px;
  background: #162E64 !important;
  border-radius: 8px !important;
}
.txtTestIns{
  font-size: 16px !important;
  color: #162E64 !important;
}
.col3 {
  align-self: flex-end;
  // margin-top: 145px;
}
.imgMarks {
  align-self: flex-end;
  text-align: right;
}
.txtSubHeadIns{
  padding-left: 105px;
  font-size: 24px !important;
  line-height: 30px !important;
  color: #C11313;
}
.txtSubIns{
  padding-left: 105px;
  font-size: 16px;
  line-height: 30px !important;
  color: black;
}
.pl {
  padding-left: 94px;
}
.txtRigth {
  text-align: right;
}
