.container {
}
.username {
  color: #162E64;
  padding-top: 40px;
  padding-left: 41px;
  padding-bottom: 84px;
  background: #FBEDED;
}
.tabs {
  margin-top: -60px;
  padding-left: 41px;
}
.tab {
  height: 0px;
  margin-top: 12px !important;
  width: 10%;
  color: #fff !important;
  font-size: 18px;
  text-transform: capitalize !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background: #7B87A3 !important;
}
.activeTab {
  height: 60px;
  width: 10%;
  color: #fff !important;
  text-transform: capitalize !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  background: #162E64 !important;
}
.MuiBox-root.css-19kzrtu {
  padding: 0px;
}
.tabPanel {
  padding: 0px !important;
  color: #fff;
  background: #162E64;
}
// ---- Carousel ----
.Carousel {
  width: 100;
}
.testName {
  text-align: left;
  color: #000 !important;
  font-weight: 700 !important;
  margin-bottom: 10px !important;
}
.MuiCardContent-root.cardContent.css-46bh2p-MuiCardContent-root {
  padding-top: 0px;
}
button.control-arrow.control-next {
  background: #FBEDED !important;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
button.control-arrow.control-next:hover {
  background: #000 !important;
}

button.control-arrow.control-prev {
  background: #FBEDED !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
button.control-arrow.control-prev:hover {
  background: #000 !important;
}

.imgIcons {
  height: 40px;
  width: 40px !important;
}
.testNowImg {
  cursor: pointer;
  position: relative;
  height: 100px;
  width: 100px !important;
}
.imgTestNow {
  // padding-bottom: 100px !important;
}
.cards {
  margin-left: 2px !important;
  // display: inline-flex;
}
.card {
  display: inline-flex;
  height: 200px;
  width: 427px;
  border-radius: 20px !important;
}
.css-13ku0wv-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0pxrgba(0,0,0,0.12);
  overflow: hidden;
  min-width: 275px;
  padding: 7px !important;
}
.css-v3mnku {
   max-width: 100% !important;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.cardContent {
  // display: inline-flex;
}
.grids {
  margin-right: 150px;
  margin-top: 35px;
}
.grid {
  margin-top: 30px;
  // padding: 6px;
}
.tabCarousel {
  width: 80%;
}
.tabSubTitle {
  margin-left: 44px;
}
.leftArrow {
  background: #7B87A3;
  width: 3%;
  vertical-align: middle;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.middle {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rightArrow {
  background: #7B87A3;
  width: 3%;
  vertical-align: middle;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
